<div class="pantalla-administracion-top">
    <div class="details">
        <div class="title-administracion">Detalles</div>
        <div class="left">
            <div class="input">
                <label for="">Título</label>
                <input type="text" ng-model="$ctrl.revista.titulo">
            </div>
        </div>
        <div class="left">
            <div class="input">
                <label for="">Link</label>
                <input type="text" ng-model="$ctrl.revista.link">
            </div>
        </div>
        <div class="left">
            <div class="input">
                <label for="">Edición</label>
                <input type="text" ng-model="$ctrl.revista.edicion">
            </div>
        </div>
        <div class="botonera">
            <button ng-click="$ctrl.detailsOpen = false; $ctrl.save();">Guardar</button>
            <button ng-click="$ctrl.detailsOpen = true; $ctrl.usuario = {} ;">Nuevo</button>
        </div>
    </div>

    <div class="lista">
        <div class="title-administracion">Selecciona de la lista</div>
        <div class="search-administracion">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" class="buscador" placeholder="Ingrese su búsqueda..." ng-model="$ctrl.filtro">
        </div>
        <table>
            <thead>
            <tr>
                <th>Titulo</th>
                <th>Fecha</th>
                <th>Edición</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in $ctrl.revistas | filter:$ctrl.filtro| paginacion:'revistas':$ctrl.limit | limitTo:$ctrl.limit:$ctrl.start "
                ng-click="$ctrl.revista=row;$ctrl.detailsOpen = true;">
                <td class="">{{row.titulo}}</td>
                <td class="">{{row.fecha_crea | date}}</td>
                <td class="">{{row.edicion}}</td>
            </tr>
            </tbody>
        </table>
        <ac-paginacion obj="'revista'" start="$ctrl.start"></ac-paginacion>
    </div>
</div>
