<div class="pantalla-administracion-top">
    <div class="details">
        <div class="title-administracion">Detalles</div>
        <div class="left">
            <div class="input">
                <label for="">Titulo</label>
                <input type="text" ng-model="$ctrl.comic.titulo">
            </div>
        </div>
        <div class="left">
            <div class="input">
                <label for="">Destacada</label>
                <select name="" id="" ng-model="$ctrl.comic.destacada">
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>
        </div>
        <div class="left">
            <div class="input">
                <label for="">Estado</label>
                <select name="" id="" ng-model="$ctrl.comic.status">
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
            </div>
        </div>
        <div class="left">
            <div class="input">
                <label for="">Imagen</label>
                <div id="foto-main" class="input-foto-main">
                    <img ng-src="{{'images/'+$ctrl.imagen.nombre}}" alt="" height="50p">
                    <input type="file" name="images" id="images"
                        ac-upload-files="$ctrl.updateFotoProyecto(selectedFileList,1,'')"/>
                </div>
            </div>
        </div>
        <div class="botonera">
            <button ng-click="$ctrl.detailsOpen = false; $ctrl.save();">Guardar</button>
            <button ng-click="$ctrl.detailsOpen = true; $ctrl.usuario = {} ;">Nuevo</button>
        </div>
    </div>

    <div class="lista">
        <div class="title-administracion">Selecciona de la lista</div>
        <div class="search-administracion">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" class="buscador" placeholder="Ingrese su búsqueda..." ng-model="$ctrl.filtro">
        </div>
        <table>
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Titulo</th>
                <th>Destacada</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in $ctrl.comics | filter:$ctrl.filtro| paginacion:'comics':$ctrl.limit | limitTo:$ctrl.limit:$ctrl.start "
                ng-click="$ctrl.comic=row;$ctrl.detailsOpen = true;" ng-class="{'row-enabled':row.status == 0}">
                <td class="">{{row.fecha_crea | date}}</td>
                <td class="">{{row.titulo}}</td>
                <td class="">{{row.destacada == 0 ? 'No' : 'Si'}}</td>
            </tr>
            </tbody>
        </table>
        <ac-paginacion obj="'comic'" start="$ctrl.start"></ac-paginacion>
    </div>
</div>
