<div ng-controller="ResultadoController as resultadoCtrl" class="common-container">
    <div style="height: 100px;background-color: #000;color:#fff;display: flex; align-items: center;">
        <img ng-src="images/logo.png" height="70" style="margin-left: 20px;">
        <span style="margin-left: 20px;font-size: 32px;">Buscador</span>
    </div>
    <div class="search-administracion" style="background-color: yellow;">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" class="buscador" placeholder="Ingrese su búsqueda..."
               ng-keyup="resultadoCtrl.filtrar(appCtrl.textProyecto);"
               ng-model="resultadoCtrl.value" id="resultados-search-box">
    </div>
    <div >
        <div class="opciones">
            <div class="btn-opciones" ng-click="resultadoCtrl.opcion = 1;">Noticias</div>
            <div class="btn-opciones" ng-click="resultadoCtrl.opcion = 2;">Humor</div>
            <div class="btn-opciones" ng-click="resultadoCtrl.opcion = 3;">Revista</div>
        </div>
    </div>
    <div class="noticia-container" style="margin: 0;">
        <div ng-if="resultadoCtrl.opcion == 1" id="noticias" class="container">
            <div class="noticias-fila">
                <div ng-repeat="nota in resultadoCtrl.notas | filter:resultadoCtrl.value" class="nota-result" >
                    <img ng-src="images/{{nota.fotos[0].nombre == undefined ? 'no_image.png' : nota.fotos[0].nombre}}"
                         class="strech" height="100" width="100">
                    <div>
                        <div class="nota-titulo-result">{{nota.titulo}}</div>
                        <div class="nota-detalle-result" ng-bind-html="nota.detalle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="resultadoCtrl.opcion == 2" id="humor" class="container">
            <div class="noticias-fila">
                <div ng-repeat="comic in resultadoCtrl.comics | filter:resultadoCtrl.value" class="nota-result" >
                    <img ng-src="images/{{comic.imagen == undefined ? 'no_image.png' : comic.imagen}}"
                         class="strech" height="100" width="100">
                </div>
            </div>
        </div>
        <div ng-if="resultadoCtrl.opcion == 3" id="revistas" class="container">
            <div class="noticias-fila">
                <div ng-repeat="revista in resultadoCtrl.revistas | filter:$ctrl.filtro" class="nota-result" >
                    <img ng-src="images/{{revista.link == undefined ? 'no_image.png' : revista.link}}"
                         class="strech" height="100" width="100">

                </div>
            </div>
        </div>
    </div>
    <ac-contacto></ac-contacto>
</div>