<div ng-controller="HumorController as humorCtrl" class="common-container">
    <div style="height: 100px;background-color: #000;color:#fff;display: flex; align-items: center;">
        <img ng-src="images/logo.png" height="70" style="margin-left: 20px;">
        <span style="margin-left: 20px;font-size: 32px;">Humor</span>
    </div>
    <div class="header-2">
        <div class="header-2-1">
            <lable>Buscar por:</lable>
            <select>
                <option value="1" selected>Nombre</option>
                <option value="2">Titulo</option>
            </select>
            <lable>Ordenar por:</lable>
            <select>
                <option value="1" selected>Asc</option>
                <option value="2">Desc</option>
            </select>
        </div>
        <div class="header-2-2">
            <div style="margin: 0 15px">Economia</div>
            <div style="margin: 0 15px">Politica</div>
            <div style="margin: 0 15px">Comunidad</div>
        </div>
    </div>
    <div class="search-administracion" style="background-color: yellow;">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" class="buscador" placeholder="Ingrese su búsqueda..." ng-model="$ctrl.filtro">
    </div>
    <div class="noticia-container" style="margin: 0;">
        <div class="comic-fila">
            <div ng-repeat="comic in humorCtrl.comics | filter:$ctrl.filtro" class="comic-info" ng-class="{'comic-destacada':comic.status == 1}">
                <img ng-src="images/{{comic.imagen == undefined ? 'no_image.png' : comic.imagen}}" class="strech">
                <div class="noticias-leer">
                    <a href="" style="text-decoration: none;color:#000;" ng-click="humorCtrl.verComic(comic.$id);">Ver Comic</a>
                </div>
            </div>
        </div>
    </div>
    <ac-contacto></ac-contacto>
    <div style="width: 80%;display: flex;">
        <div>
            <a class="button" href="#/main" style="margin-bottom: 20px;">Volver</a>
        </div>
    </div>
</div>