<div ng-controller="HumorController as humorCtrl" class="common-container">
    <div class="header-secciones">
        <img ng-src="images/logo.png" height="50" style="margin-left: 20px; margin-right: 20px">
        <span style="margin-left: 20px;font-size: 32px;">Humor</span>
    </div>
    <div class="search-administracion" style="background-color: yellow;">
        <img src="images/lupa.png"  height="40" width="40">
        <input type="text" class="buscador" placeholder="Ingrese su búsqueda..." ng-model="$ctrl.filtro">
    </div>
    <div class="noticia-container" style="margin: 0;">
        <div class="comic-fila">
            <div ng-repeat="comic in humorCtrl.comics | filter:$ctrl.filtro" class="comic-info comic-anime"
                 ng-class="{'comic-destacada':comic.destacada == 1}">
                <img ng-src="images/{{comic.imagen == undefined ? 'no_image.png' : comic.imagen}}"
                     class="strech" ng-click="humorCtrl.verComic(comic.$id);">
                <div class="btn-facebook-1" facebook proyecto="comic.url_id"></div>
                <a twitter style="height: 30px; width: 30px;"
                   class="btn-twitter-1" data-text="Your text: "
                   data-url="comic.url_id"></a>
            </div>
        </div>
    </div>
    <div style="width: 80%;display: flex;">
        <div>
            <button ng-click="appCtrl.volver('main');" style="margin-bottom: 20px;">Volver</button>
        </div>
    </div>
    <ac-contacto></ac-contacto>
</div>