<div ng-controller="RevistasController as revistasCtrl" class="common-container">
    <div class="header-secciones">
        <img ng-src="images/logo.png" height="50" style="margin-left: 20px; margin-right: 20px">
        <span style="margin-left: 20px;font-size: 32px;">Revistas</span>
         </div>
    <div class="search-administracion" style="background-color: yellow;">
        <img src="images/lupa.png"  height="40" width="40">
        <input type="text" class="buscador" placeholder="Ingrese su búsqueda..." ng-model="$ctrl.filtro">
    </div>
    <div class="noticia-container" style="margin: 0;">
        <div id="noticias" class="container">
            <div class="noticias-fila">

            </div>
        </div>
    </div>
    <div style="width: 80%;display: flex;">
        <button ng-click="appCtrl.volver('main');" style="margin-bottom: 20px;">Volver</button>
    </div>
    <ac-contacto></ac-contacto>
</div>