<div ng-controller="NotaController as notaCtrl" class="common-container">
    <div class="container-titulo">
        <img ng-src="images/logo.png" height="70" style="margin-left: 20px;">
        <span style="margin-left: 20px;font-size: 32px;">{{notaCtrl.nota.titulo}}</span>
    </div>
    <div class="noticia-container">
        <div class="container-flex">
            <div class="nota-col-1">
                <div class="nota-panel-fotos-main">
                    <img ng-src="images/{{notaCtrl.fotoSelected}}">
                </div>
                <div class="nota-panel-fotos-thumb">
                    <img ng-if="notaCtrl.nota.fotos[0].nombre != undefined" ng-src="images/{{notaCtrl.nota.fotos[0].nombre}}"
                         ng-click="notaCtrl.fotoSelected = notaCtrl.nota.fotos[0].nombre">
                    <img ng-if="notaCtrl.nota.fotos[1].nombre != undefined" ng-src="images/{{notaCtrl.nota.fotos[1].nombre}}"
                         ng-click="notaCtrl.fotoSelected = notaCtrl.nota.fotos[1].nombre">
                    <img ng-if="notaCtrl.nota.fotos[2].nombre != undefined" ng-src="images/{{notaCtrl.nota.fotos[2].nombre}}"
                         ng-click="notaCtrl.fotoSelected = notaCtrl.nota.fotos[2].nombre">
                    <img ng-if="notaCtrl.nota.fotos[3].nombre != undefined" ng-src="images/{{notaCtrl.nota.fotos[3].nombre}}"
                         ng-click="notaCtrl.fotoSelected = notaCtrl.nota.fotos[3].nombre">
                </div>
                <ac-administracion-comentarios obj="notaCtrl.objNota"></ac-administracion-comentarios>
                <button href="#/main" style="margin-bottom: 20px;">Volver</button>
            </div>
            <div class="nota-panel-texto nota-col-2">
                <div ng-bind-html="notaCtrl.nota.detalle" class="nota-texto-container"></div>
            </div>
        </div>
    </div>
    <ac-contacto></ac-contacto>
</div>