<div ng-controller="NoticiasController as notaCtrl" class="main-container">
    <div style="height: 100px;background-color: #000;color:#fff">Logo</div>
    <div class="noticia-container">
        <div>
            <div class="sample">
                <lable>Buscar por:</lable>
                <select>
                    <option value="1" selected>Nombre</option>
                    <option value="2">Titulo</option>
                </select>
                <lable>Ordenar por:</lable>
                <select>
                    <option value="1" selected>Asc</option>
                    <option value="2">Desc</option>
                </select>
            </div>
            <div class="nota-panel-fotos-main">
                <img src="images/macri.png">
            </div>
            <div class="nota-panel-fotos-thumb">
                <img ng-if="notaCtrl.nota.fotos[0].nombre != undefined" src="images/macri.png"
                     ng-click="notaCtrl.fotoSelected = notaCtrl.nota.fotos[0].nombre">
                <img ng-if="notaCtrl.nota.fotos[0].nombre != undefined" src="images/macri.png"
                     ng-click="notaCtrl.fotoSelected = notaCtrl.nota.fotos[0].nombre">
                <img ng-if="notaCtrl.nota.fotos[0].nombre != undefined" src="images/macri.png"
                     ng-click="notaCtrl.fotoSelected = notaCtrl.nota.fotos[0].nombre">
                <img ng-if="notaCtrl.nota.fotos[0].nombre != undefined" src="images/macri.png"
                     ng-click="notaCtrl.fotoSelected = notaCtrl.nota.fotos[0].nombre">
            </div>
            <ac-administracion-comentarios obj="notaCtrl.objNota"></ac-administracion-comentarios>
        </div>
        <div class="nota-panel-texto">
            <h2>{{notaCtrl.nota.titulo}}</h2>
            <div ng-bind-html="notaCtrl.nota.detalle" class="nota-texto-container"></div>
        </div>
    </div>
</div>