<div ng-controller="NoticiasController as noticiasCtrl" class="common-container">
    <div style="height: 100px;background-color: #000;color:#fff;display: flex; align-items: center;">
        <img ng-src="images/logo.png" height="70" style="margin-left: 20px;">
        <span style="margin-left: 20px;font-size: 32px;">Noticias</span>
        <div class="busquedas">
            <lable>Buscar por:</lable>
            <select>
                <option value="1" selected>Nombre</option>
                <option value="2">Titulo</option>
            </select>
            <lable>Ordenar por:</lable>
            <select>
                <option value="1" selected>Asc</option>
                <option value="2">Desc</option>
            </select>
        </div>
    </div>
    <div class="search-administracion" style="background-color: yellow;">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" class="buscador" placeholder="Ingrese su búsqueda..." ng-model="$ctrl.filtro">
    </div>
    <div class="noticia-container" style="margin: 0;">
        <div id="noticias" class="container">
            <div class="noticias-fila">
                <div ng-repeat="nota in noticiasCtrl.notas | filter:$ctrl.filtro"
                     ng-init="comentario = noticiasCtrl.arrComentarios.$load(nota.comentarios);"
                     class="noticias-info noticia-result" ng-class="{'noticia-destacada':nota.destacada == 1}">
                    <a href="" class="btn-facebook" title="Me gusta">
                        <img src="images/like.png" class="" height="30" width="30">
                    </a>
                    <a href="" class="btn-twitter" title="Seguir">
                        <img src="images/tweet.png" class="" height="30" width="30">
                    </a>
                    <figure class="tint">
                        <img ng-src="images/{{nota.fotos[0].nombre == undefined ? 'no_image.png' : nota.fotos[0].nombre}}" class="strech">
                    </figure>
                    <div class="noticias-texto">{{nota.titulo}}</div>
                    <div class="noticias-leer"><a href="" style="text-decoration: none;color:#fff;" ng-click="noticiasCtrl.verNoticia(nota.id);">Leer...</a></div>
                    <div class="noticias-pie" ng-class="{'nota-pie-color-1':nota.color == 1, 'nota-pie-color-2':nota.color == 2}">
                        <div ng-init="usuario = noticiasCtrl.arrUsuarios.$load((comentario.length > 0 ? comentario[comentario.length-1].usuario : {}))">Ultimo comentario:</div>
                        <div class="noticias-detalle">{{comentario.length > 0 ? comentario[comentario.length-1].detalles : 'Se el primero en comentar'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 80%;display: flex;">

            <button href="#/main" style="margin-bottom: 20px;">Volver</button>
    </div>
    <ac-contacto></ac-contacto>
</div>