<div class="contenedor-admin">
<div class="sub-menu">
    <img ng-src="images/logo.png" height="50">
    <div id="menu-desktop-lower-inner" style="margin-left: 20px;">
        <a style="margin-left: 20px;" href="#/administracion/notas">NOTICIAS</a>
        <a style="margin-left: 20px;" href="#/administracion/comics">HUMOR</a>
        <a style="margin-left: 20px;" href="#/administracion/eventos">REVISTA</a>
        <a style="margin-left: 20px;" href="#/administracion/usuarios">USUARIOS</a>
    </div>
</div>
<div class="administracion" ng-controller="AdministracionController as administracionController">

    <ac-administracion-usuarios class="pantalla-administracion"
                                ng-if="appCtrl.sub_menu == 'usuarios'"></ac-administracion-usuarios>
    <ac-administracion-notas class="pantalla-administracion"
                             ng-if="appCtrl.sub_menu == 'notas'"></ac-administracion-notas>
    <ac-administracion-eventos class="pantalla-administracion"
                               ng-if="appCtrl.sub_menu == 'eventos'"></ac-administracion-eventos>
    <ac-administracion-comics class="pantalla-administracion"
                              ng-if="appCtrl.sub_menu == 'comics'"></ac-administracion-comics>

</div>
<button ng-click="">Volver</button>
</div>
