<div ng-controller="AdministracionController as administracionController">
    <div class="sub-menu" >
        <img ng-src="images/macri.png" height="50">
        <div id="menu-desktop-lower-inner">
            <a class="" href="#/administracion/notas">NOTICIAS</a>
            <a class="" href="#/administracion/comics">HUMOR</a>
            <a class="" href="#/administracion/eventos">REVISTA</a>
            <a class="" href="#/administracion/usuarios">ADMINISTRACION</a>
        </div>
    </div>
    <ac-administracion-usuarios ng-if="appCtrl.sub_menu == 'usuarios'"></ac-administracion-usuarios>
    <ac-administracion-notas ng-if="appCtrl.sub_menu == 'notas'"></ac-administracion-notas>
    <ac-administracion-eventos ng-if="appCtrl.sub_menu == 'eventos'"></ac-administracion-eventos>
    <ac-administracion-comics ng-if="appCtrl.sub_menu == 'comics'"></ac-administracion-comics>
</div>
