<div id="otros">
    <span>Otros</span>
    <input type="text" ng-model="administracionCtrl.otro.nombre">
    <select name="status" id="" ng-model="administracionCtrl.otro.status">
        <option value="true" selected>Activo</option>
        <option value="false">Inactivo</option>
    </select>
    <button ng-click="administracionCtrl.arrOtro.$add(administracionCtrl.otro)">Guardar</button>

    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in administracionCtrl.arrOtro">
            <td><input type="text" ng-model="row.nombre" ng-change="administracionCtrl.arrOtro.$save(row)"></td>
            <td><select name="" ng-change="administracionCtrl.arrOtro.$save()" id="select_status" ng-model="row.status">
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select></td>
        </tr>
        </tbody>
    </table>
</div>
<div id="generales">
    <span>Generales</span>
    <input type="text" ng-model="administracionCtrl.general.nombre">
    <select name="status" id="" ng-model="administracionCtrl.general.status">
        <option value="true" selected>Activo</option>
        <option value="false">Inactivo</option>
    </select>
    <button ng-click="administracionCtrl.arrGeneral.$add(administracionCtrl.general)">Guardar</button>

    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in administracionCtrl.arrGeneral">
            <td><input type="text" ng-model="row.nombre" ng-change="administracionCtrl.arrGeneral.$save(row)"></td>
            <td><select name="" ng-change="administracionCtrl.arrGeneral.$save()" id="select_status" ng-model="row.status">
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select></td>
        </tr>
        </tbody>
    </table>
</div>
<div id="servicios">
    <span>Servicios</span>
    <input type="text" ng-model="administracionCtrl.servicio.nombre">
    <select name="status" id="" ng-model="administracionCtrl.servicio.status">
        <option value="true" selected>Activo</option>
        <option value="false">Inactivo</option>
    </select>
    <button ng-click="administracionCtrl.arrServicio.$add(administracionCtrl.servicio)">Guardar</button>

    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in administracionCtrl.arrServicio">
            <td><input type="text" ng-model="row.nombre" ng-change="administracionCtrl.arrServicio.$save(row)"></td>
            <td><select name="" ng-change="administracionCtrl.arrServicio.$save()" id="select_status" ng-model="row.status">
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select></td>
        </tr>
        </tbody>
    </table>
</div>
<div id="monedas">
    <span>Monedas</span>
    <input type="text" ng-model="administracionCtrl.moneda.nombre">
    <input type="text" ng-model="administracionCtrl.moneda.simbolo">
    <select name="status" id="" ng-model="administracionCtrl.moneda.status">
        <option value="true" selected>Activo</option>
        <option value="false">Inactivo</option>
    </select>
    <button ng-click="administracionCtrl.arrMoneda.$add(administracionCtrl.moneda)">Guardar</button>

    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in administracionCtrl.arrMoneda">
            <td><input type="text" ng-model="row.nombre" ng-change="administracionCtrl.arrMoneda.$save(row)"></td>
            <td><input type="text" ng-model="row.simbolo" ng-change="administracionCtrl.arrMoneda.$save(row)"></td>
            <td><select name="" ng-change="administracionCtrl.arrMoneda.$save()" id="select_status" ng-model="row.status">
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select></td>
        </tr>
        </tbody>
    </table>
</div>
<div id="tipo_propiedad">
    <span>Tipos de propiedad</span>
    <input type="text" ng-model="administracionCtrl.tipoPropiedad.nombre">
    <select name="status" id="" ng-model="administracionCtrl.tipoPropiedad.status">
        <option value="true" selected>Activo</option>
        <option value="false">Inactivo</option>
    </select>
    <button ng-click="administracionCtrl.arrTipoPropiedad.$add(administracionCtrl.tipoPropiedad)">Guardar</button>

    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in administracionCtrl.arrTipoPropiedad">
            <td><input type="text" ng-model="row.nombre" ng-change="administracionCtrl.arrTipoPropiedad.$save(row)"></td>
            <td><select name="" ng-change="administracionCtrl.arrTipoPropiedad.$save()" id="select_status" ng-model="row.status">
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select></td>
        </tr>
        </tbody>
    </table>
</div>
<div id="tipo_calle">
    <span>Tipos de calle</span>
    <input type="text" ng-model="administracionCtrl.tipoCalle.nombre">
    <select name="status" id="" ng-model="administracionCtrl.tipoCalle.status">
        <option value="true" selected>Activo</option>
        <option value="false">Inactivo</option>
    </select>
    <button ng-click="administracionCtrl.arrTipoCalle.$add(administracionCtrl.tipoCalle)">Guardar</button>

    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in administracionCtrl.arrTipoCalle">
            <td><input type="text" ng-model="row.nombre" ng-change="administracionCtrl.arrTipoCalle.$save(row)"></td>
            <td><select name="" ng-change="administracionCtrl.arrTipoCalle.$save()" id="select_status" ng-model="row.status">
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select></td>
        </tr>
        </tbody>
    </table>
</div>