<div>

    <div style="display: flex; flex-direction: column; max-width: 400px;"
         id="datos_generales" ng-if="administracionCtrl.datosGenerales" form-id="datos_generales">
        <input ng-model="administracionCtrl.propiedad.titulo" type="text"
               id="propiedad_titulo"
               ac-validator
               min-length="10;El título debe tener mas de diez letras"
               max-length="50;El título no puede tener mas de 50 letras"/>
        <input ng-model="administracionCtrl.propiedad.descripcion" type="text"
               id="propiedad_descripcion"
               ac-validator
               min-length="10;La descripción debe tener mas de diez letras"
               max-length="500;La descripción no puede tener mas de 500 letras"/>
        <select name="" id="" ng-model="administracionCtrl.propiedad.moneda"
                id="propiedad_moneda"
                ng-options="opt.$id as opt.nombre for opt in administracionCtrl.arrMonedaActivo"
                ng-init="administracionCtrl.loadedMonedas;">
        </select>
        <input ng-model="administracionCtrl.propiedad.precio" type="text"
               id="propiedad_precio"
               ac-validator
               min-number="0;Debe ingresar un valor mayor a 0"/>
        <button ac-validator
                ng-click="administracionCtrl.navPropiedad()"
                ng-if="administracionCtrl.panel =='administracion/propiedad.html'">Siguiente
        </button>
    </div>

    <div style="display: flex; flex-direction: column; max-width: 400px;"
         id="especificaciones" ng-if="administracionCtrl.especificaciones" form-id="especificaciones">
        <select name="" id="" ng-model="administracionCtrl.propiedad.tipoPropiedad"
                id="propiedad_tipo_propiedad"
                ng-options="opt.$id as opt.nombre for opt in administracionCtrl.arrTipoPropiedadActivo"
                ng-init="administracionCtrl.loadedTiposPropiedad;">
        </select>
        <input ng-model="administracionCtrl.propiedad.superficie_total" type="number"
               ac-validator
               min-number="0;Debe ingresar un valor mayor a 0"/>
        <input ng-model="administracionCtrl.propiedad.superficie_cubierta" type="number"
               ac-validator
               min-number="0;Debe ingresar un valor mayor a 0"/>
        <input ng-model="administracionCtrl.propiedad.habitaciones" type="number"
               ac-validator
               min-number="0;Debe ingresar un valor mayor a 0"/>
        <input ng-model="administracionCtrl.propiedad.banos" type="number"/>
        <div id="generales" style="display: flex; flex-direction: column; max-width: 400px;">
            <label ng-repeat="opt in administracionCtrl.arrGeneralActivo">{{opt.nombre}}
                <input type="number"
                       ac-validator
                       min-number="0;La cantidad debe ser 0 o mayor"
                       ng-change="administracionCtrl.log()"
                       ng-model="administracionCtrl.propiedad.general[opt.$id]"
                       ng-init="administracionCtrl.propiedad.general[opt.$id] = (administracionCtrl.propiedad.general[opt.$id] == undefined)?0:administracionCtrl.propiedad.general[opt.$id];"
                       name="otros"
                       ng-attr-id="{{opt.$id}}"
                       ng-value="opt.$id"></label><br>
        </div>
        <div id="servicios" style="display: flex; flex-direction: column; max-width: 400px;">
            <label ng-repeat="opt in administracionCtrl.arrServicioActivo">{{opt.nombre}}
                <input type="checkbox"
                       ng-change="administracionCtrl.log()"
                       ng-model="administracionCtrl.propiedad.servicio[opt.$id]"
                       name="otros"
                       ng-value="opt.$id"></label><br>
        </div>
        <div id="otros" style="display: flex; flex-direction: column; max-width: 400px;">
            <label ng-repeat="opt in administracionCtrl.arrOtroActivo">{{opt.nombre}}
                <input type="checkbox"
                       ng-change="administracionCtrl.log()"
                       ng-model="administracionCtrl.propiedad.otro[opt.$id]"
                       name="otros"
                       ng-value="opt.$id"></label><br>
        </div>
        <button ng-click="administracionCtrl.navPropiedad()" ac-validator
                ng-if="administracionCtrl.panel =='administracion/propiedad.html'">Siguiente
        </button>
    </div>

    <div id="ubicacion" ng-if="administracionCtrl.ubicacion">
        <select name="" id=""
                ng-model="administracionCtrl.propiedad.tipoCalle"
                id="propiedad_tipo_calle"
                ng-options="opt.$id as opt.nombre for opt in administracionCtrl.arrTipoCalleActivo"
                ng-init="administracionCtrl.loadedTiposPropiedad;">
        </select>
        <input ng-model="administracionCtrl.direccion.nombre" type="text"/>
        <input ng-model="administracionCtrl.direccion.numero" type="text"/>
        <button ng-click="administracionCtrl.navPropiedad()"
                ng-if="administracionCtrl.panel =='administracion/propiedad.html'">Siguiente
        </button>
    </div>

    <div id="fotos" ng-if="administracionCtrl.fotos">
        <input ng-model="administracionCtrl.propiedad.fotos" type="text"/>

        <div id="button-bar">
            <button ng-click="administracionCtrl.savePropiedad();"
                    ng-if="administracionCtrl.fotos">Guardar
            </button>
        </div>
    </div>


    <table>
        <tr ng-repeat="row in administracionCtrl.arrPropiedad" ng-click="administracionCtrl.isUpdate = true;
                administracionCtrl.datosGenerales = true;
                administracionCtrl.especificaciones = false;
                administracionCtrl.ubicacion = false;
                administracionCtrl.fotos = false; administracionCtrl.propiedad = row;">
            <td>{{row.titulo}}</td>
            <td>{{row.descripcion}}</td>
        </tr>
    </table>
</div>
