<div class="login" ng-if="!$ctrl.isLogged">
    <button ng-click="$ctrl.showLoginPanel = true;">Ingresar</button>
</div>

<div class="login-panel" ng-if="$ctrl.showLoginPanel && !$ctrl.isLogged">
    <div class="login-panel-form" ng-class="{'moved-login-form':$ctrl.showLoginPanel && !$ctrl.isLogged}">

        <h1>Ingresa tus datos!</h1>


        <div class="ingreso" ng-if="!$ctrl.creando">

            <div class="input">
                <label>Email</label>
                <input type="text" ng-model="$ctrl.email">
            </div>
            <div class="input">
                <label>Password</label>
                <input type="password" ng-model="$ctrl.password">
            </div>
        </div>
        <div class="creacion" ng-if="$ctrl.creando">
            <div class="input">
                <label>Nombre</label>
                <input type="text" ng-model="$ctrl.nombre">
            </div>
            <div class="input">
                <label>Email</label>
                <input type="text" ng-model="$ctrl.email">
            </div>
            <div class="input">
                <label>Password</label>
                <input type="password" ng-model="$ctrl.password">
            </div>
        </div>
        <div class="botonera">
            <button ng-if="!$ctrl.creando" ng-click="$ctrl.login()">Aceptar</button>
            <button ng-if="!$ctrl.creando" ng-click="$ctrl.creando = true;">Nuevo</button>
            <button ng-if="$ctrl.creando" ng-click="$ctrl.creando = false;">Ingresar</button>
            <button ng-if="$ctrl.creando" ng-click="$ctrl.createUser();">Crear</button>
            <button ng-click="$ctrl.showLoginPanel = false;$ctrl.creando=false;">Cancelar</button>
        </div>
    </div>
</div>
<div ng-if="$ctrl.isLogged" class="logout">
    <span class="usuario-login">{{$ctrl.usuario}}</span>
    <button ng-click="$ctrl.logout()">Salir</button>
</div>
