<div ng-controller="MainController as mainCtrl" class="main-container">
    <div class="header-1">
        <h1 style="">Macrignetto</h1>


    </div>
    <div class="header-2">
        <div class="header-2-1">
            <lable>Buscar por:</lable>
            <select>
                <option value="1" selected>Nombre</option>
                <option value="2">Titulo</option>
            </select>
            <lable>Ordenar por:</lable>
            <select>
                <option value="1" selected>Asc</option>
                <option value="2">Desc</option>
            </select>
        </div>
        <div class="header-2-2">
            <div style="margin: 0 15px">Economia</div>
            <div style="margin: 0 15px">Politica</div>
            <div style="margin: 0 15px">Comunidad</div>
        </div>
        <div class="header-2-3">
            <h2 style="font-size: 40px;color:#260126;font-weight: bold;">Noticias</h2>
        </div>
    </div>
    <div style="display: flex;flex-direction: column;">
        <div id="noticias" class="container">
            <div class="noticias-fila">
                <div ng-repeat="nota in mainCtrl.notas" class="noticias-info">
                    <!--img src="images/fondo1.jpg" class="strech"-->
                    <img src="images/{{nota.fotos[0].nombre}}" class="strech">
                    <div class="noticias-texto">{{nota.titulo}}</div>
                    <div class="noticias-leer"><a href="" style="text-decoration: none;color:#fff;">Leer...</a></div>
                    <div class="noticias-pie">
                        <div>Ultimo comentario:</div>
                        <div ng-bind-html="nota.detalle" class="noticias-detalle"></div>
                    </div>
                </div>
            </div>
            <div class="noticias-fila hide-div">
                <div ng-repeat="nota in mainCtrl.notas" class="noticias-info">
                    <img src="images/{{nota.fotos[0].nombre}}" class="strech">
                    <div class="noticias-texto">{{nota.titulo}}</div>
                    <div class="noticias-leer"><a href="" style="text-decoration: none;color:#fff;">Leer...</a></div>
                    <div class="noticias-pie">
                        <div>Ultimo comentario:</div>
                        <div ng-bind-html="nota.detalle" class="noticias-detalle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="agenda" class="container">
            <h3>Agenda</h3>
            <div class="agenda-container">
                <div class="agenda-calendario">
                    <div id="agenda-calendar" class="agenda-dias">
                        <div id="agenda-calendar-header">
                            <div class="prev-m" ng-click="mainCtrl.prevMonth();"><</div>
                            <span>{{mainCtrl.agendaMes.nombre}}</span>
                            <div class="sig-m" ng-click="mainCtrl.nextMonth();">></div>
                        </div>
                        <div style="color: white; font-size: 20px;">
                            {{mainCtrl.agendaAnio}}
                        </div>
                        <div id="agenda-calendar-container">
                            <div id="calendario">
                                <div id="calendario-header">
                                    <div>Do</div>
                                    <div>Lu</div>
                                    <div>Ma</div>
                                    <div>Mi</div>
                                    <div>Ju</div>
                                    <div>Vi</div>
                                    <div>Sa</div>
                                </div>
                                <div id="calendario-dias">
                                    <div class="calendario-dia"
                                         ng-class="{'calendario-dia-with-event': dia.evento != undefined}"
                                         ng-repeat="dia in mainCtrl.listaEventos"
                                         ng-click="mainCtrl.selectEvento(dia.evento);"
                                            >
                                        {{dia.dia}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="agenda-img" src="images/agenda_img.png">
                <div class="agenda-noticia">
                    <div class="agenda-titulo"><h4>Titulo Agenda</h4></div>
                    <div class="agenda-info">Without a container element all positioning will be in relation to the viewport (the corner of the screen). This in combination with position: fixed can create elements that stay in one corner of the screen and don't move when the page scrolls, but only in browsers other than Explorer. On this site you might see a [top] link doing just that if you're using a compatible browser.
                        Without a container element all positioning will be in relation to the viewport (the corner of the screen). This in combination with position: fixed can create elements that stay in one corner of the screen and don't move when the page scrolls, but only in browsers other than Explorer. On this site you might see a [top] link doing just that if you're using a compatible browser.
                    </div>
                </div>
            </div>
        </div>
        <div id="comics" class="container">
            <h3>Comics</h3>
            <div class="comic-fila">
                <div class="comic-container">
                    <img src="images/comics1.png" class="strech">
                </div>
                <div class="comic-container">
                    <img src="images/comics1.png" class="strech">
                </div>
                <div class="comic-container">
                    <img src="images/comics1.png" class="strech">
                </div>
            </div>
        </div>
        <div id="contacto" class="container">
            <h5>Contacto</h5>
            <div class="contacto-form">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Mail</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Consulta</label>
                    <input type="text" class="form-control">
                </div>
                <a href="enviar" style="text-decoration: none;color:#000;text-align: center;">Enviar</a>
            </div>
        </div>
    </div>
</div>
