<div id="contacto" class="container" form-id="contacto">
    <h5>Contacto</h5>
    <div class="contacto-form">
        <div class="input" style="margin-bottom: 15px;">
            <label>Nombre</label>
            <input type="text" class="form-control"
                   ac-validator is-required="Debe ingresar un nombre"
                   ng-model="$ctrl.nombre" id="contacto-nombre">
        </div>
        <div class="input" style="margin-bottom: 15px;">
            <label>Mail</label>
            <input type="email" class="form-control"
                   ac-validator is-mail="El mail es incorrecto"
                   ng-model="$ctrl.email" id="contacto-mail">
        </div>
        <div class="input" style="margin-bottom: 15px;">
            <label>Asunto</label>
            <input type="text" class="form-control"
                   ac-validator is-required="Debe ingresar un tema de consulta"
                   ng-model="$ctrl.asunto" id="contacto-asunto">
        </div>
        <div class="input" style="margin-bottom: 15px;">
            <label>Consulta</label>
            <textarea class="form-control text-area" ac-validator is-required="Debe ingresar una consulta"
                      ng-model="$ctrl.mensaje" name="" id="contacto-consulta" rows="10" cols="50"></textarea>
        </div>
        <button id="enviar-consulta" ac-validator ng-click="$ctrl.sendMail();">Enviar</button>
    </div>
    <div class="send-mail ac-mensaje-custom-show" ng-if="$ctrl.enviando">
        Su consulta fue enviada
    </div>
</div>