<div class="nota-comentar" form-id="comentario">
    <div style="width: 100%;">
        <label>Comentar:</label>
    </div>
    <textarea cols="40" rows="6" ng-model="$ctrl.comentario.detalles"
              ac-validator is-required="Debe ingresar un comentario" id="comentario-detalle"></textarea>
    <button ac-validator ng-click="$ctrl.save()">Guardar</button>
</div>
<div class="notas-comentarios">
    <div>
        <label>Ultimos comentarios:</label>
    </div>
    <div class="nota-comentarios">
        <div ng-repeat="row in $ctrl.comentarios">{{row.detalles}}
            <img ng-mouseover="row.img = 'trash_hover.png'" ng-mouseleave="row.img='trash.png'"
                 ng-src="images/{{row.img == undefined ? 'trash.png' : row.img }}"
                 ng-if="$ctrl.usuario== row.usuario" ng-click="$ctrl.remove(row)">
        </div>
    </div>
</div>