<div class="lista">
    <input type="text" class="buscador" ng-model="$ctrl.filtro">
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in $ctrl.usuarios | filter:$ctrl.filtro | limitTo:$ctrl.limit:$ctrl.start"
            ng-click="$ctrl.usuario=row;$ctrl.detailsOpen = true;">
            <td class="">{{row.nombre}}</td>
            <td class="">{{row.apellido}}</td>
        </tr>
        </tbody>
        <!--<tfoot>-->
        <!--<tr>-->
        <!--<td colspan="4">-->
        <!--<div class="table-td">-->
        <!--<button class="btn-paginacion-first"-->
        <!--ng-click="$ctrl.first();">Primera-->
        <!--</button>-->
        <!--<button class="btn-paginacion-prev"-->
        <!--ng-click="$ctrl.prev();">Ant.-->
        <!--</button>-->
        <!--<div class="paginacion-paginas">-->
        <!--<span>{{'PAGE' | xlat}} {{$ctrl.pagina}} {{'OF' | xlat}} {{$ctrl.paginas}}</span>-->
        <!--</div>-->
        <!--<div class="paginacion-go-to">{{'GO_TO' | xlat}} <input type="number"-->
        <!--ng-model="$ctrl.pagina"-->
        <!--ng-keyup="$ctrl.goToPagina();">-->
        <!--</div>-->

        <!--<button class="btn-paginacion-next"-->
        <!--ng-click="$ctrl.next();">Sig.-->
        <!--</button>-->
        <!--<button class="btn-paginacion-last"-->
        <!--ng-click="$ctrl.last();">Última-->
        <!--</button>-->
        <!--</div>-->
        <!--</td>-->
        <!--</tr>-->
        <!--</tfoot>-->
    </table>
    <div class="botonera">
        <button ng-click="$ctrl.detailsOpen = true; $ctrl.usuario = {} ;">Nuevo</button>
    </div>
</div>
<div class="form details">
    <div>
        <input type="text" ng-model="$ctrl.usuario.nombre">
        <label for="">Nombre</label>
    </div>
    <div>
        <input type="text" ng-model="$ctrl.usuario.apellido">
        <label for="">Apellido</label>
    </div>
    <div>
        <input type="text" ng-model="$ctrl.usuario.email">
        <label for="">Email</label>
    </div>
    <div>
        <select name="" id="" ng-model="$ctrl.usuario.rol">
            <option value="0">Administrador</option>
            <option value="1">Redactor</option>
            <option value="2">Usuario</option>
        </select>
        <label for="">Rol</label>
    </div>
    <div>
        <select name="" id="" ng-model="$ctrl.usuario.status">
            <option value="0">Inactivo</option>
            <option value="1">Activo</option>
        </select>
        <label for="">Estado</label>
    </div>
    <div class="botonera">
        <button ng-click="$ctrl.detailsOpen = fa.se; $ctrl.save();">Guardar</button>
    </div>
</div>