<div ng-controller="ComicController as comicCtrl" class="common-container">
    <div class="container-titulo">
        <img ng-src="images/logo.png" height="70" style="margin-left: 20px;">
        <span style="margin-left: 20px;font-size: 32px;">{{comicCtrl.comic.titulo}}</span>
    </div>
    <div class="noticia-container">
        <!--div style="width: 80%;display: flex;flex-direction: column;"-->
        <div class="container-flex-2">
            <img ng-src="images/{{comicCtrl.fotoSelected}}">
            <div class="comic-flex">
                <div class="comic-col-1">
                    <ac-administracion-comentarios obj="comicCtrl.objComic"></ac-administracion-comentarios>
                    <button ng-click="appCtrl.volver('main');" style="margin-bottom: 20px;">Volver</button>
                </div>
                <div class="comic-col-2" style="margin:10px;">
                    <img ng-repeat="comic in comicCtrl.comics" ng-src="images/{{comic.imagen}}"
                         ng-click="comicCtrl.fotoSelected = comic.imagen"
                         class="img-container" title="{{comic.titulo}}">
                </div>
            </div>
        </div>
    </div>
    <ac-contacto></ac-contacto>
</div>