<div class="pantalla-administracion-top">
    <div class="main-image">

        <div class="title-administracion">Opciones</div>
        <div id="foto-main" class="input-foto-main">
            <img ng-src="{{'images/'+$ctrl.foto_01.nombre}}" alt="" height="100p" width="100p">
            <input type="file" name="images" id="file-1" class="custom-file-input"
                   ac-upload-files="$ctrl.updateFotoProyecto(selectedFileList,1,'')"/>
        </div>
        <div class="left">
            <div class="input">
                <label for="">Destacada</label>
                <select name="" id="" ng-model="$ctrl.nota.destacada">
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>
            </div>
        </div>
        <div class="left">
            <div class="input">
                <label for="">Estado</label>
                <select name="" id="" ng-model="$ctrl.nota.status">
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
            </div>
        </div>
        <div class="left">
            <div class="input">
                <label for="">Categoria</label>
                <select name="" id="" ng-model="$ctrl.nota.categoria">
                    <option value="3">Comunidad</option>
                    <option value="1">Economía</option>
                    <option value="2">Política</option>
                </select>
            </div>
        </div>
    </div>
    <div class="lista">
        <div class="title-administracion">Selecciona de la lista</div>
        <div class="search-administracion">
            <i class="fa fa-search" aria-hidden="true"></i><input type="text" class="buscador"
                                                                  placeholder="Ingrese su búsqueda..."
                                                                  ng-model="$ctrl.filtro">
        </div>
        <table>
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Titulo</th>
                <th>Categoria</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in $ctrl.notas | filter:$ctrl.filtro | limitTo:$ctrl.limit:$ctrl.start"
                ng-click="$ctrl.nota=row;
            $ctrl.foto_01.nombre = row.fotos[0].nombre;
            $ctrl.foto_02.nombre = row.fotos[1].nombre;
            $ctrl.foto_03.nombre = row.fotos[2].nombre;
            $ctrl.foto_04.nombre = row.fotos[3].nombre;
            $ctrl.detailsOpen = true;" ng-class="{'row-enabled':row.status == 0}">
                <td class="">{{row.fecha | date}}</td>
                <td class="">{{row.titulo.length > 50 ? row.titulo.substring(0,50) + '...' : row.titulo}}</td>
                <td class="">{{$ctrl.getCategoria(row.categoria)}}</td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
<div class="pantalla-administracion-bottom">
    <div class="details">
        <div class="title-administracion">Detalles</div>
        <div class="input">
            <label for="">Titulo</label>
            <input type="text" ng-model="$ctrl.nota.titulo" class="" id="titulo-box"/>
        </div>
        <div class="input">
            <label for="">Fuente</label>
            <input type="text" ng-model="$ctrl.nota.fuente"class="" />

        </div>
        <div class="input">
            <label for="">Detalle</label>
            <div text-angular ng-model="$ctrl.nota.detalle"></div>
        </div>
        <div class="foto-container">
            <div class="foto">
                <div id="slider-02-foto" class="input-foto">
                    <img ng-src="{{'images/'+$ctrl.foto_02.nombre}}" alt="" height=100" width="150">
                    <input type="file" name="images" id="images"
                           ac-upload-files="$ctrl.updateFotoProyecto(selectedFileList,2,'')" class="custom-file-input"/>
                </div>
            </div>
            <div class="foto">
                <div id="slider-03-foto" class="input-foto">
                    <img ng-src="{{'images/'+$ctrl.foto_03.nombre}}" alt="" height="100" width="150">
                    <input type="file" name="images" id="images"
                           ac-upload-files="$ctrl.updateFotoProyecto(selectedFileList,3,'')"class="custom-file-input" />
                </div>
            </div>
            <div class="foto">
                <div id="slider-04-foto" class="input-foto">
                    <img ng-src="{{'images/'+$ctrl.foto_04.nombre}}" alt="" height="100" width="150">
                    <input type="file" name="images" id="images"
                           ac-upload-files="$ctrl.updateFotoProyecto(selectedFileList,4,'')" class="custom-file-input"/>
                </div>
            </div>
        </div>
        <div class="botonera">
            <button ng-click="$ctrl.detailsOpen = false; $ctrl.save();">Guardar</button>
            <button ng-click="$ctrl.detailsOpen = true; $ctrl.nuevo();">Nuevo</button>
        </div>
    </div>
</div>